p{
    font-size: 30px;
    text-align: center;
    color: #ff4d73;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    position: relative;
    left:28%;
    top:15%;
}

.orderid{
    position: relative;
    top:10%;
    font-size: 25px;
    padding: 15px 15px;
    text-align: center;
    color: #ff4d73;
    font-family: 'Courier New', Courier, monospace;
}


.sideBar {
    padding: 10px 5px;
    margin: 0 !important;
    background-color: #fff;
   /* overflow-y: auto;*/
    border: 1px solid #f7f7f7;
    height: 100%;
  }
  
  .sideBar-body {
    position: relative;
    padding: 15px !important;
    border-bottom: 1px solid #ff4d73;
    width:800px;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
  }
  
  .sideBar-body:hover {
    background-color:#ff4d73;
  }
  
  .sideBar-avatar {
   /* text-align: center;*/
    padding: 0 !important;
  }
  
  .avatar-icon img {
    position: relative;
    top: 10%;
    left:0%;
    height: 54px;
    width: 54px;
  }
  
  .sideBar-main {
    padding: 0 !important;
  }
  
  .sideBar-name {
    padding: 0px !important;
    
  }
  
  .name-meta {
    font-size: 25px;
    padding: 1% !important;
    text-align: left;
   /* text-overflow: ellipsis;*/
    white-space: nowrap;
    color: #000;
    position: absolute;
    top:0%;
    left:9%;
  }
  

  .price-meta {
    font-size: 25px;
    padding: 1% !important;
    text-align: left;
   /* text-overflow: ellipsis;*/
    white-space: nowrap;
    color: #000;
    position: absolute;
    top:6%;
    left:52%;
}

.state-meta {
    font-size: 25px;
    padding: 1% !important;
    text-align: right;
   /* text-overflow: ellipsis;*/
    white-space: nowrap;
    color: #000;
    position: absolute;
    top:35%;
    left:50%;
}
.spec-meta{
    font-size: 20px;
    color: #000;
    position: absolute;
    top:45%;
    left:10%;
}
  
  
  .sideBar-time {
    padding: 10px !important;
  }
  
  .time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }
  
  a{
    text-decoration: none;
  }

  button{
    position: relative;
    top:0%;
    left:77%;
    background:#ff4d73;
    height: 40px;
    width:9%;
    color:white;
    font-size: 22px;
  }
  
  .btn{
    position:relative;
    top:-70px;
    overflow: hidden;
    padding: 0px 15px;
    margin: 8px 0;
    
  }
  
  .total{
    position: absolute;
    left:3%;
    top:25%;
    font-size: 25px;
    color: #ff4d73;
    font-weight: bold;
  }
  
  .dcharges{
    position: absolute;
    left:3%;
    top:45%;
    font-size: 25px;
    color: #ff4d73;
    font-weight: bold;
  }

  .totalamt{
    position: absolute;
    left:3%;
    top:65%;
    font-size: 25px;
    color: #ff4d73;
    font-weight: bold;
  }

  .box{
    position: absolute;
    border: 1px solid #ff4d73;
    padding: 10px 20px;
    height:350px;
    width:350px;
    top:20%;
  }

  .link-2{
      position:absolute;
      left:1%;
      top:61%;
      font-size: 25px;
      padding: 5px 25px;
     background-color: #ff4d73 ;
      margin: 8px 0;
  }

  .link-2 a{
    color: white;
  }

  .link-3{
    position:absolute;
    left:12%;
    top:61%;
    font-size: 25px;
    padding: 5px 25px;
   background-color: #ff4d73 ;
    margin: 8px 0;
}

.link-3 a{
  color: white;
}

.link-1{
  position:absolute;
  left:2%;
  top:4%;
  font-size: 25px;
  padding: 5px 25px;
 background-color: #ff4d73 ;
  margin: 8px 0;
}

.link-1 a{
color: white;
}

.link-4{
  position:absolute;
  left:89%;
  top:4%;
  font-size: 25px;
  padding: 5px 25px;
 background-color: #ff4d73 ;
  margin: 8px 0;
}

.link-4 a{
color: white;
}