.textbox{
    position: absolute;
    top:40%;
    left:30%;
    width: 50%;
    overflow: hidden;
    padding: 12px 20px;
    margin: 8px 0;
}
.textbox input{
    border: 2px solid red;
    background: none;
    color: rgb(3, 3, 3);
    font-size: 30px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }

::placeholder{
    font-size: 30px;
    color: black;
}

.btn{
    position: absolute;
    top:48%;
    left:60%;
    width: 10%;
    background: none;
    border: 2px solid #4caf50;
    color: rgb(8, 8, 8);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }