body{
    height:100vh;
    width:100%;

}

p{
    position: relative;
    font-size: 25px;
    text-align: center;
    color: #ff4d73;
    font-family: 'Courier New', Courier, monospace;
}

hr{
    margin-top: 80px;
    margin-bottom: 50px;
    border: 1px solid #ff4d73;
}

.name{
    position: absolute;
    top:9%;
    left:47%;
    font-size: 25px;
    font-weight: bold;
}


.email{
    position: absolute;
    top:18%;
    left:42%;
    font-size: 25px;
    font-weight: bold;
}

.address{
    position: absolute;
    top:27%;
    left:45%;
    font-size: 25px;
    font-weight: bold;
}

.city{
    position: absolute;
    top:36%;
    left:45%;
    font-size: 25px;
    font-weight: bold;
}

.state{
    position: absolute;
    top:44.5%;
    left:45%;
    font-size: 25px;
    font-weight: bold;
}

a{
    font-size:25px;
    position: absolute;
    top:0%;
    text-decoration: none;
    color:black;
    font-weight: bold;
}