@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.main ul{
    
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 50px;
    
  }
  .main ul li{
    display: inline-block;
  }
  .main ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    padding: 8px 35px;
    font-size: 25px;
    border: 0px;
    transition: 2ms ease;
  }
 /* .main ul li a:hover{
    background-color:#4caf50;
    color:rgb(231, 231, 240);
  }*/

  .main i{
    background: #4caf50;
    padding:10px;
    border-radius: 50%
      
  }
 select {

    width: 150px;
    height: 40px;
    margin: 10px;

}

select:focus {

    min-width: 150px;

    width: auto;

}    

select.paddingOffset
{
	padding-left:150px;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  top:-10px;
  left:62%;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
