@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.menu{
  background-color: #fff;
  height: 20%;
  width: 100%;
}
.menu ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 50px;
}
.menu ul li{
  display: inline-block;
}
.menu  ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 35px;
  background: #ff4d73;
  font-size: 25px;
  border: 0px;
  transition: 2ms ease;
  border: 1px solid #ff4d73;
}
.menu  ul li a:hover{
  background-color:transparent;
  color:black;
}

.form{
  position: absolute;
  top:8%;
  background-image:linear-gradient(rgba(201, 164, 164, 0.856),rgba(247, 242, 242, 0.726)),url("../../projectphoto/brooke-lark--F_5g8EEHYE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90%;
}

.login-box{
  
  border-radius: 40px;
 /* border: 3px solid #29cf2e; */
  margin-bottom: 50px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  border-collapse: separate;
  padding: 15px;
}
.login-box h1{
  float: left;
  font-size: 25px;
  border-bottom: 6px solid  #29cf2e;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  padding: 10px 2px;
  margin: 8px 0;
  border-bottom: 2px solid #29cf2e;
}

.textbox i{
  width: 28px;
  float: left;
  text-align: center;
  font-size: 30px;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color:black ;
  font-size: 25px;
  font-weight: bold;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.textbox span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

::placeholder {
  color:black;
}

.textbox span::after{
  content: '';
  position:absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg);
  transition: .5s;
}

.btn{
  width: 100%;
  background:#29cf2e;
  border: 2px solid #f3ebeb;
  color: rgb(245, 240, 240);
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover{
  background: transparent;
  color:black;
  border:2px solid #29cf2e ;
}

button{
  padding: 5px;
  background:white;
  font-size: 25px;
}

.focus + span::before{
  top: -5px;
}

.focus + span::after
{
  width: 100%;
}

