@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url("../../projectphoto/whitefood.jpeg") ;
  height: 90vh;
  background-size: 2000px;
  background-position: center;*/

}

.register{
  position: absolute;
  margin-top: 5%;
  background-image: url("../../projectphoto/whitefood.jpeg") ;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh; 
}

.login-box{
  float:right;
  width: 350px;
  position: absolute;
  top: 38%;
  left: 48%;
  transform: translate(-50%,-50%);
  color: rgb(5, 5, 5);
}
.login-box h1{
  font-size: 38px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  margin-left: 75px;
  padding: 13px 0;
  width: 27%;
  position: relative;
  left:13%;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(3, 3, 3);
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
/*.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: rgb(8, 8, 8);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}*/

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 12px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 17px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: transparent;
  color:black;
}

select{
    position: absolute;
    top:42%;
    left:11%;
    font-size: 20px;
}

.linktoregister
{
  width: 150px;
  border-block-width: 50px;
  align-content: center;
  background-color: #4caf50;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 50px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: rgb(7, 7, 7);
  padding: 8px 35px;
  font-size: 25px;
  border: 0px;
  transition: 2ms ease;
}
ul li a:hover{
  background-color:#4caf50;
  color:rgb(231, 231, 240);
}

a{
  margin-top: 0px;
  float: left;
  padding: 4px 15px;
  font-size: 25px;
  border: 0px;
  color: black;
}
a:hover{
  background-color:#4caf50;
  color:rgb(231, 231, 240);
}
