.navigation{
    position: absolute;
    top: 6%;
    font-size: 25px;
    line-height: 40px;
    background-color: #ff4d73;
    height: 850px;
    width:250px;
    float:left;
    padding:7px;
}

.navigation a{
  color:#fff;
  text-decoration: none;
    
}

p{
    font-size: 35px;
    text-align: center;
    color: #ff4d73;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    position: relative;
    left:25%;
    top:9%;
}
.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
   /* overflow-y: auto;*/
    border: 1px solid #f7f7f7;
    height: 100%;
  }
  
  .sideBar-body {
    position: relative;
    padding: 12px !important;
    border-bottom: 1px solid #ff4d73;
    width:800px;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
  }
  
  .sideBar-body:hover {
    background-color:#ff4d73;
  }
  
  .sideBar-avatar {
   /* text-align: center;*/
    padding: 0 !important;
  }
  
  .avatar-icon img {
    position: relative;
    top: 10%;
    left:0%;
    height: 54px;
    width: 54px;
  }
  
  .sideBar-main {
    padding: 0 !important;
  }
  
 /* .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }*/
  
  .sideBar-name {
    padding: 0px !important;
    
  }
  
  .name-meta {
    font-size: 25px;
    padding: 1% !important;
    text-align: left;
   /* text-overflow: ellipsis;*/
    white-space: nowrap;
    color: #000;
    position: absolute;
    top:0%;
    left:10%;
  }
  

  .price-meta {
    font-size: 25px;
    padding: 1% !important;
    text-align: left;
   /* text-overflow: ellipsis;*/
    white-space: nowrap;
    color: #000;
    position: absolute;
    top:6%;
    left:52%;
}

.state-meta {
    font-size: 25px;
    padding: 1% !important;
    text-align: right;
   /* text-overflow: ellipsis;*/
    white-space: nowrap;
    color: #000;
    position: absolute;
    top:35%;
    left:50%;
}
.spec-meta{
    font-size: 20px;
    color: #000;
    position: absolute;
    top:45%;
    left:10%;
}
  
  
  .sideBar-time {
    padding: 10px !important;
  }
  
  .time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }
  
  a{
    text-decoration: none;
  }

  .textbox{
    position: relative;
    top:-4%;
    left:70%;
    width: 40%;
    overflow: hidden;
    padding: 5px 20px;
    margin: 8px 0;
}
.textbox input{
    border: 2px solid red;
    background: none;
    color: rgb(3, 3, 3);
    font-size: 25px;
    width: 22%;
    float: left;
    margin: 10px 20px;
  }

::placeholder{
    font-size: 20px;
    color: black;
}

button{
  position: relative;
  top:0%;
  left:72.5%;
  background:#ff4d73;
  height: 40px;
  width:9%;
  color:white;
  font-size: 22px;
}

.btn{
  position:relative;
  top:-5%;
  overflow: hidden;
  padding: 5px 20px;
  margin: 8px 0;
  
}

.link a{
  position: absolute;
  top:0%;
  font-size: 30px;
  font-weight: bold;
  color:#ff4d73;
}

.link2 a{
  position: absolute;
  top:1%;
  left: 89%;
  font-size: 30px;
  font-weight: bold;
  background-color: #ff4d73;
  color: white;
  padding: 10px 20px;
}
