@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body{
    width:100%;
}

.navigation{
    position: absolute;
    top: 10%;
    font-size: 25px;
    line-height: 40px;
    background-color: #ff4d73;
    height: 700px;
    width:250px;
    float:left;
    padding:7px;
}

.navigation a{
  color:#fff;
  text-decoration: none;
    
}

h2{
    color:black;
    font-size: 30px;
}

/*extra*/
body {
	font-family: 'Montserrat', sans-serif;
	color: #333;
	line-height: 1.6;
}
.mb-60 {
	margin-bottom: 60px;
}
.menu_content p {
    top:15pc;
    left:20pc;
    position: relative;
	font-size: 24px;
	font-family: Oleo Script;
	margin-bottom: 0px;
}
.menu_content h4 {
	font-size: 40px;
	text-transform: capitalize;
	color: #FF5E18;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}
.menu_content h4::before {
	width: 80px;
	height: 1.5px;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::before, .section-title h4::after {
	position: absolute;
	content: "";
	background-color: #FF5E18;
}
#myTabContent {
	margin-top: 50px;
}
.menu_tab {
	width: auto;
	margin: 0 auto;
}
.nav-tabs .nav-item {
	margin-bottom: -1px;
}
.nav-item a {
	color: #333;
}
.menu_tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: white;
	background-color: #FF5E18;
	border-color: #FF5E18;
}
.single_menu_list {
	position: relative;
	padding-left: 190px;
	margin-bottom: 110px;
}

.single_menu_list img {
	width: 150px;
	position: absolute;
	left: 20pc;
	top: 10pc;
	border: 1px solid #ddd;
	padding: 3px;
	border-radius: 50%;
    transition: .4s
    
}

.single_menu_list:hover img {
	border-radius: 0;
	transition: .4s
}

.menu_content h4 {
    font-size: 20px;
    position: absolute;
    left:35pc;
	padding-bottom: 15px;

    top:10pc;
}

.menu_content h4 span {
    position: absolute;
    left:15pc;
	font-weight: bold;
	color: #FF5E18;
	font-style: italic;
}
