@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.main ul{
    
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 50px;
    
  }
  .main ul li{
    display: inline-block;
  }
  .main ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    padding: 8px 35px;
    font-size: 25px;
    border: 0px;
    transition: 2ms ease;
  }
 /* .main ul li a:hover{
    background-color:#4caf50;
    color:rgb(231, 231, 240);
  }*/

  .main i{
    background: #4caf50;
    padding:10px;
    border-radius: 50%
      
  }
 select {

    width: 150px;
    height: 40px;
    margin: 10px;

}

select:focus {

    min-width: 150px;

    width: auto;

}    

select.paddingOffset
{
	padding-left:150px;
}


p{
  font-size: 30px;
  text-align: center;
  color: #ff4d73;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.top{
  position: relative;
  left:17%;
  top:100px;
}
.sideBar {
  position: relative;
  left:17%;
  top:200px;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
 /* overflow-y: auto;*/
  border: 1px solid #f7f7f7;
  height: 100%;
}

.sideBar-body {
  position: relative;
  padding: 12px !important;
  border-bottom: 2px solid #ff4d73;
  width:1000px;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color:#ff4d73;
}

.sideBar-avatar {
 /* text-align: center;*/
  padding: 0 !important;
}

.avatar-icon img {
  position: relative;
  top: 10%;
  left:65%;
  height: 54px;
  width: 54px;
}

.sideBar-main {
  padding: 0 !important;
}

/* .sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}*/

.sideBar-name {
  padding: 0px !important;
  
}

.name-meta {
  font-size: 25px;
  padding: 1% !important;
  text-align: left;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:0%;
  left:80%;
}


.locality-meta {
  font-size: 25px;
  padding: 1% !important;
  text-align: left;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:40%;
  left:80%;
}

.nm-meta {
  font-size: 25px;
  padding: 1% !important;
  text-align: right;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:-8px;
  left:10%;
}

.state-meta {
  font-size: 25px;
  padding: 1% !important;
  text-align: right;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:35%;
  left:8%;
}


.sideBar-time {
  padding: 10px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

a{
  text-decoration: none;
}

.btn button{
  position: absolute;
  background-color:#ff4d73; /* Green */
  border: none;
  
  left:76%;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.link a{
  position: absolute;
  top:2%;
  left:2%;
  color: #ff4d73;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.id-meta{
  font-size: 25px;
  padding: 1% !important;
  text-align: left;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:12%;
  left:21%;
}

.cname-meta{
  font-size: 25px;
  padding: 1% !important;
  text-align: left;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:15%;
  left:21%;
}

.email-meta{
  font-size: 25px;
  padding: 1% !important;
  text-align: left;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:18%;
  left:21%;
}

.cn-meta{
  font-size: 25px;
  padding: 1% !important;
  text-align: left;
 /* text-overflow: ellipsis;*/
  white-space: nowrap;
  color: #000;
  position: absolute;
  top:21%;
  left:21%;
}

hr{
  position: relative;
  top:150px;
  left:-80px;
  border-color: #ff4d73;
}

.hm{
  font-size: 25px;
  color: #000;
  position: absolute;
  top:15%;
  left:60%;
}
.sf{
  font-size: 25px;
  color: #000;
  position: absolute;
  top:15%;
  left:60%;
}

.selfpickup{
  font-size: 25px;
  position: absolute;
  top:20%;
  left:60%;
}
.selfpickup a{
  color: #ff4d73;
  font-weight: bold;
}
.homedelivery{
  font-size: 25px;
  position: absolute;
  top:20%;
  left:60%;
}

.homedelivery a{
  color: #ff4d73;
  font-weight: bold;
}