@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(rgba(27, 27, 27, 0.6),rgba(41, 41, 41, 0.6)),url("../../projectphoto/h2.jpeg") ;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  /*background-image: url("../../projectphoto/whitefood.jpeg") ;
  height: 90vh;
  background-size: 2000px;
  background-position: center;*/

}

.register{
  position: absolute;
  background-image: linear-gradient(rgba(27, 27, 27, 0.6),rgba(41, 41, 41, 0.6)),url("../../projectphoto/h2.jpeg") ;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh; 
}

.login-box{
  float:center;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%,-50%);
  color: rgb(250, 249, 249);

}
.login-box h1{
    
  float: left;
  font-size: 38px;
  border-bottom: 6px solid #4caf50;
  margin-bottom:60px;
  margin-left: 60px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  position: relative;
  margin-left:50%;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
::placeholder{
  color: rgb(247, 241, 241);
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(250, 244, 244);
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}     
.btn{
 position: relative;
 left:20%;
  width: 50%;
  background: none;
  border: 2px solid #4caf50;
  color: rgb(247, 245, 245);
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover{
  background: #4caf50;
  color:black;
}

.linktoregister
{
  width: 150px;
  border-block-width: 50px;
  align-content: center;
  background-color: #4caf50;
}
/*.main ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 50px;
}
.main ul li{
  display: inline-block;
}
.main ul li a{
  text-decoration: none;
  color: rgb(7, 7, 7);
  padding: 8px 35px;
  font-size: 20px;
  border: 0px;
  transition: 2ms ease;
}
.main ul li a:hover{
  background-color:#4caf50;
  color:rgb(231, 231, 240);
}
*/
a{
  top: 2px;
  float: left;
  padding: 4px 15px;
  font-size: 25px;
  border: 0px;
  color: rgb(248, 242, 242);
}
a:hover{
  background-color:#4caf50;
  color:rgb(231, 231, 240);
}