@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url("../../projectphoto/whitefood.jpeg") ;
  height: 90vh;
  background-size: 2000px;
  background-position: center;*/

}

.register{
  position: absolute;
  margin-top: 4%;
  background-image: linear-gradient(rgba(27, 27, 27, 0.6),rgba(41, 41, 41, 0.6)),url("../../projectphoto/h2.jpeg") ; ;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh; 
}

.login-box{
  float:right;
  width: 350px;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%,-50%);
  color: rgb(236, 230, 230);
}
.login-box h1{
  float: left;
  font-size: 38px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  margin-left: 75px;
  padding: 10px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(245, 237, 237);
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: rgb(248, 239, 239);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover{
    background:#4caf50 ;
    color: black;
}

.linktoregister
{
  width: 150px;
  border-block-width: 50px;
  align-content: center;
  background-color: #4caf50;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 50px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: rgb(7, 7, 7);
  padding: 8px 35px;
  font-size: 20px;
  border: 0px;
  transition: 2ms ease;
}
ul li a:hover{
  background-color:#4caf50;
  color:rgb(231, 231, 240);
}
::placeholder{
    color: azure;
}

a{
  margin-top: 0px;
  float: left;
  padding: 4px 15px;
  font-size: 25px;
  border: 0px;
  color: rgb(247, 239, 239);
}
a:hover{
  background-color:#4caf50;
  color:rgb(231, 231, 240);
}