body{
    height:100vh;
    width:100%;

}

p{
    position: relative;
    font-size: 25px;
    text-align: center;
    color: #ff4d73;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.image img{
    position: absolute;
    top:7%;
    left:15%;
    color: #ff4d73;
    height:60%;
    width: 70%;
}

.name{
    position: absolute;
    top:76%;
    left:40%;
    color: #ff4d73;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.email{
    position: absolute;
    top:80%;
    left:40%;
    color: #ff4d73;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.contno{
    position: absolute;
    top:84%;
    left:40%;
    color: #ff4d73;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.address{
    position: absolute;
    top:88%;
    left:40%;
    color: #ff4d73;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.city{
    position: absolute;
    top:91%;
    left:40%;
    color: #ff4d73;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}


.state{
    position: absolute;
    top:95%;
    left:40%;
    color: #ff4d73;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}
a{
    position: absolute;
    text-decoration: none;
    top:2%;
    left:1%;
    color: #ff4d73;
    font-weight: bold;
    font-size: 30px;
}
