@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.main ul{
    
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 50px;
    
  }
  .main ul li{
    display: inline-block;
  }
  .main ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    padding: 8px 35px;
    font-size: 25px;
    border: 0px;
    transition: 2ms ease;
  }
  .main ul li a:hover{
    background-color:#4caf50;
    color:rgb(231, 231, 240);
  }

  .navigation{
      position: absolute;
      top: 10%;
      font-size: 25px;
      line-height: 40px;
      background-color: blanchedalmond;
      height: 500px;
      width:250px;
      float:left;
      padding:10px;
  }

  .navigation a{
    color:#ff4d73;
    text-decoration: none;
      
  }

  /*slider*/
.slideshow{
    width: 90%;
    height:75%;
    position: absolute;
    top:7%;
    left:150px;
}
slider{
    top:7%;
    left:150px;
    display: block;
    width: 90%;
    height: 75%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    /*left:0%;*/
    animation-delay: -1s;
    background-image: url(../../projectphoto/s1.jpeg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(../../projectphoto/burger.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(../../projectphoto/s3.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4){
    animation-delay: 8s;
    background-image: url(../../projectphoto/donut.jpg);
    background-size: cover;
    background-position: center;
}

/*slide p{
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top:340px;
    color: #fff;
}*/

@keyframes slide{
    0% {left: 100%; width: 100%;}
    5% {left: 0%;}
    25% {left: 0%;}
   30% {left: -100%; width: 100%;}
    30.0001% { left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}

.search{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input{
    border:2px solid #4caf50;
    height:50px;
    width: 700px;
    border-radius: 50px;
    padding: 0px 10px;
}

.search ::placeholder{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.search input{
    font-size: 22px;
    color: black;
}

.search i{
    position: absolute;
    right:5%;
    top:30%;
    font-size: 24px;
    color: #4caf50;
}

