@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.first .content-box{
    width:100%;
    height:100%;
}
.main ul{
    
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 50px;
    
  }
  .main ul li{
    display: inline-block;
  }
  .main ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    padding: 8px 35px;
    font-size: 25px;
    border: 0px;
    transition: 2ms ease;
  }
 /* .main ul li a:hover{
    background-color:#4caf50;
    color:rgb(231, 231, 240);
  }*/

  .main i{
    background: #4caf50;
    padding:10px;
    border-radius: 50%
      
  }
 select {

    width: 150px;
    height: 40px;
    margin: 10px;

}

select:focus {

    min-width: 150px;

    width: auto;

}    

select.paddingOffset
{
	padding-left:150px;
}

  .navigation{
      position: absolute;
      top: 10%;
      font-size: 25px;
      line-height: 40px;
      background-color: blanchedalmond;
      height: 500px;
      width:250px;
      float:left;
      padding:10px;
  }

  .navigation a{
    color:#ff4d73;
    text-decoration: none;
      
  }

  /*slider*/
.slideshow{
    width: 90%;
    height:75%;
    position: absolute;
    top:7%;
    left:150px;
}
slider{
    top:7%;
    left:150px;
    display: block;
    width: 90%;
    height: 75%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    /*left:0%;*/
    animation-delay: -1s;
    background-image: url(../../projectphoto/s1.jpeg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(../../projectphoto/burger.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(../../projectphoto/s3.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4){
    animation-delay: 8s;
    background-image: url(../../projectphoto/donut.jpg);
    background-size: cover;
    background-position: center;
}

slide p{
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top:340px;
    color: #fff;
}

@keyframes slide{
    0% {left: 100%; width: 100%;}
    5% {left: 0%;}
    25% {left: 0%;}
   30% {left: -100%; width: 100%;}
    30.0001% { left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}

.search{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input{
    border:2px solid #4caf50;
    height:50px;
    width: 700px;
    border-radius: 50px;
    padding: 0px 10px;
}

.search ::placeholder{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.search input{
    font-size: 22px;
    color: black;
}

.search i{
    position: absolute;
    right:5%;
    top:25%;
    font-size: 24px;
    color: #4caf50;
}

button{
    position: absolute;
    background-color: #4caf50;
    color:white;
    font-size:30px;
    border-radius: 50px;
    top:5%;
    padding: 8px;
    left:100%;
}

.circ{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background:red;
    background-size: cover;
    background-position: center;
    top:84%;
    left:19%;
    position:absolute;

}

.circ:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}
h2{
    position:absolute;
    top:77%;
    left:20%;
    font-size: 25px;
}
.circ i{
    color:white;
    position: absolute;
    left:37%;
    top:33%;
    font-size: 35px;
}

.circle{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/punefoodexplorer_4___B1i8gZnAyTf___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:26%;
    position:absolute;

}

.circle:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p{
    position: absolute;
    top:94%;
    left:27%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}

.circle1{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/punefoodexplorer___B2OEWpwAqBg___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:33%;
    position:absolute;

}

.circle1:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p1{
    position: absolute;
    top:96%;
    left:33%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}

.circle2{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/punefoodexplorer_1___B1i8gZnAyTf___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:40%;
    position:absolute;

}

.circle2:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p2{
    position: absolute;
    top:96%;
    left:41%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}
.circle3{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/punefoodexplorer_4___B1i8gZnAyTf___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:47%;
    position:absolute;

}

.circle3:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p3{
    position: absolute;
    top:96%;
    left:48%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}


.circle4{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/thepunefoodie_1___B5XHNGhH6qq___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:54%;
    position:absolute;

}

.circle4:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p4{
    position: absolute;
    top:96%;
    left:55%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}


.circle5{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/thepunefoodie_1___B6CyPmIHOk1___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:61%;
    position:absolute;

}

.circle5:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p5{
    position: absolute;
    top:96%;
    left:62%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}

.circle6{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/thepunefoodie_1___B6IIzY9nOVC___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:68%;
    position:absolute;

}

.circle6:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p6{
    position: absolute;
    top:96%;
    left:69%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}

.circle7{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/thepunefoodie_2___B6CyPmIHOk1___.jpg);
    background-size: cover;
    background-position: center;
    top:84%;
    left:75%;
    position:absolute;

}

.circle7:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

p7{
    position: absolute;
    top:96%;
    left:76%;
    font-size: 20px;
    color:#ff4d73;
    font-weight: bold;
}

.second{
    height: 100%;
    width: 100%;
}

b{
    top:110%;
    position: absolute;
    left:7%;
    font-size: 35px;
    width: 400px;
    color: #ff4d73;
    font-weight: bold;
}

.rect1{
width:300px;
height:300px;
border-radius: 10%;
border: 2px solid #1f1f1f;
background-image: url(../../projectphoto/d1.jpg);
background-size: cover;
background-position: center;
top:120%;
left:5%;
position:absolute;
margin-bottom: 10%;
}



.rect2{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d2.jpeg);
    background-size: cover;
    background-position: center;
    top:120%;
    left:23%;
    position:absolute;
    margin-bottom: 10%;
}


    
.rect3{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d3.jpeg);
    background-size: cover;
    background-position: center;
    top:120%;
    left:41%;
    position:absolute;
    margin-bottom: 10%;
}



.rect4{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d4.jpeg);
    background-size: cover;
    background-position: center;
    top:120%;
    left:59%;
    position:absolute;
    margin-bottom: 10%;
}



.rect5{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d5.jpeg);
    background-size: cover;
    background-position: center;
    top:120%;
    left:77%;
    position:absolute;
    margin-bottom: 10%;
}



.rect6{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d6.jpeg);
    background-size: cover;
    background-position: center;
    top:155%;
    left:5%;
    position:absolute;
    margin-bottom: 10%;
}



.rect7{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d7.jpeg);
    background-size: cover;
    background-position: center;
    top:155%;
    left:23%;
    position:absolute;
    margin-bottom: 10%;
}





.rect8{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d8.jpeg);
    background-size: cover;
    background-position: center;
    top:155%;
    left:41%;
    position:absolute;
    margin-bottom: 10%;
}


.rect9{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d9.jpeg);
    background-size: cover;
    background-position: center;
    top:155%;
    left:59%;
    position:absolute;
    margin-bottom: 10%;
}



.rect10{
    width:300px;
    height:300px;
    border-radius: 10%;
    border: 2px solid #1f1f1f;
    background-image: url(../../projectphoto/d10.jpeg);
    background-size: cover;
    background-position: center;
    top:155%;
    left:77%;
    position:absolute;
    margin-bottom: 10%;
}


h{
    font-size: 27px;
    position: absolute;
    left:17%;
    color: #111111;
    font-weight: bold;
    top:7%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{
    font-size: 27px;
    position: absolute;
    left:27%;
    color: rgb(10, 10, 87);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h10{
    font-size: 27px;
    position: absolute;
    left:37%;
    color:#ff4d73;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-size: 35px;
    position: absolute;
    left:37%;
    color: rgb(6, 5, 66);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    font-size: 27px;
    position: absolute;
    left:47%;
    color: chartreuse;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5{
    font-size: 27px;
    position: absolute;
    left:57%;
    color: #ff4d73;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6{
    font-size: 27px;
    position: absolute;
    left:27%;
    color:#fff;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h7{
    font-size: 27px;
    position: absolute;
    left:27%;
    color: #e60725;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h8{
    font-size: 27px;
    position: absolute;
    left:27%;
    top:16%;
    color: rgb(10, 12, 94);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h9{
    font-size: 30px;
    position: absolute;
    left:27%;
    top:15%;
    color: rgb(250, 255, 251);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h11{
    font-size: 35px;
    color:#ff4d73;
    position: absolute;
    top:195%;
    left:20%;
    margin-bottom: 10%;
}

h12{
    font-size: 150px;
    color: gray;
    position: absolute;
    top:205%;
    left:18%;
    margin-bottom: 15%;
}

h14{
    font-size: 150px;
    color: gray;
    position: absolute;
    top:205%;
    left:40%;
    margin-bottom: 15%;
}

h15{
    font-size: 150px;
    color: gray;
    position: absolute;
    top:205%;
    left:68%;
    margin-bottom: 15%;
}

a1{
    position: absolute;
    top:225%;
    left:18%;
    color: #ff4d73;
    font-size: 30px;
    font-weight: bold;
}

a2{
    position: absolute;
    top:225%;
    left:40%;
    color: #ff4d73;
    font-size: 30px;
    font-weight: bold;
}

a3{
    position: absolute;
    top:225%;
    left:68%;
    color: #ff4d73;
    font-size: 30px;
    font-weight: bold;
}