body{
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../../projectphoto/r1.jpg") ;
  background-size: cover;
  background-position: center;
}



.main{
    position: absolute;
    left:35%;
    top:20%;
    font-size: 30px;
    color: #ff4d73;
}

p{
    font-size: 35px;
    font-weight: bold;
    color: #ff4d73;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

hr{
    border: 1px solid #ff4d73;
}