*
{
    margin:0;
    padding:0;;    
}
.hero
{
    height:100vh;
    width:100%;
    background-image:url(../../projectphoto/Car_Animation_Img/sky.jpg);
    background-size:cover;
    background-position: center;
    position: fixed;
   /* overflow-x: hidden;*/
}
.highway
{
    height:200px;
    width:500%;
    display:block;
    background-image:url(../../projectphoto/Car_Animation_Img/road.jpg);
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
    z-index:1;
    background-repeat: repeat-x;
    animation:highway 5s linear infinite;
}
@keyframes highway
{
    100%{
        transform: translateX(-3400px);
    }
}
.city
{
    height:250px;
    width:500%;
    background-image:url(../../projectphoto/Car_Animation_Img/city.png);
    position:absolute;
    bottom:200px;
    left:0;
    right:0;
    display:block;

    z-index: 1;
    background-repeat: repeat-x;
    animation:city 20s linear infinite;
}
@keyframes city{
    100%{
        transform: translateX(-3000px);
    }
}
.vehicle
{
    width:700px;
    left:20%;
    bottom:10px;
    transform:translateX(-50%);
    position:absolute;
    z-index: 2;
}
.vehicle img
{
    width:100%;
    animation:car 5s linear infinite;
}
@keyframes vehicle
{
    100%{
        transform:translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    0%{
        transform: translateY(-5px);
    }
}
.wheel
{
    /*left:50%;*/
    bottom:200px;
    position:absolute;
   

    z-index: 2;
}
.wheel img
{
    width:85px;
    height:85px;
    position: absolute;
    animation: wheel 1s linear infinite;
}
.back-wheel
{
    bottom: -150px;
    left: 253px;
    position: absolute;
}
.frontwheel
{
    bottom:-120px;
    left: 472px;
    position:absolute;
}
@keyframes wheel
{
    100%{
        transform: rotate(360deg);
    }
}

.title
{
    width:600px;
    left:42%;
    top: 40px;
    transform:translateX(-50%);
    position:absolute;
    z-index: 2;
}
.title img
{
    width:150%;
    animation:car 5s linear infinite;
}
/*.header{
    background-image: url(/home/mm/foodDelivery/demo/src/main/resources/projectphoto/Car_Animation_Img/sky.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}*/
.main 
{
    float:top;
}
.ul{
    list-style-type: none;
    margin-top: 10px;
    float: right;
}
.ul li{
    
    display: inline-flexbox;
}
ul li a
{
    
    text-decoration:none;
    color:black;
    padding:5px 20px;
    border: 2px solid black;
    transition: 0.5s ease;
    
}
ul li a:hover{
    background-color:black;
    color: #000;

}
a{
    font-size: 35px;
    position: relative;
    top: 0px;
    left: 1650px;
    background-color:chocolate ;
    color:white;
    
}
