 #example1{
    width: 400px;
    height: 400px;
    float: right;
}

p{
    /*background-color:white;
    color:black;
    float: left;*/
    font-size: large;

    width: 50%;
    float: left;
    /*text-align: center;*/
    padding-top: 20px;
    
}