@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(/home/aishwariya/fooddelivery/demo/src/main/resources/images2.jpeg);
  background-color: black;
  background-size: cover;
}
.login-box{
  border-radius: 40px;
  border: 3px solid #29cf2e; ;
  margin-bottom: 50px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(219, 231, 235);
  border-collapse: separate;
  padding: 15px;
}
.login-box h1{
  float: left;
  font-size: 25px;
  border-bottom: 6px solid  #29cf2e;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #29cf2e;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(231, 230, 235);
  font-size: 20px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: #1e94e2;
  border: 2px solid #f3ebeb;
  color: rgb(245, 240, 240);
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 12px 0;
}

button{
  padding: 5px;
  background:white;
  font-size: 25px;
}

